---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshotImage from "../assets/images/headshot.jpg";
import LinkButton from "@components/LinkButton.astro";
import { SOCIALS } from "@config";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section
      id="about"
      class="prose selection:container max-w-3xl prose-img:border-0 pb-10"
    >
      <h1>About</h1>
      <Hr />
      <div class="h-32 sm:h-64">
        <div class="w-fit h-fit float-left overflow-hidden px-10">
          <Image
            class="w-32 h-32 sm:w-64 sm:h-64 rounded-full object-cover object-[center_top]"
            src={headshotImage}
            alt="Headshot of Marten Schlüter"
          />
        </div>

        <p>
          Hi, my name is Marten Schlüter. Born in Germany, founder in Estonia
          and now living in Panama and the US, I'm a global citizen and believe
          in the transforming power of internet and technology. If you'd like
          the long version, keep on reading.
        </p>
        <p>
          Otherwise, check out my <LinkButton href="https://registry.jsonresume.org/maschlr">CV</LinkButton>
        </p>
      </div>
    </section>
    <Hr />
    <section class="prose pt-6 pb-10">
      <h2>Career</h2>
      <h3>Energy Systems Engineering</h3>
      <p>
        In Germany I studied energy systems engineering. I've always been
        passionate about travelling and exploration, so I wrote my thesis in
        <LinkButton
          href="https://maps.app.goo.gl/ZfdEwVTAT1nrhr329"
          target="_blank">Piura, Peru.</LinkButton
        >
        The topic of my
        <LinkButton
          href="https://drive.google.com/file/d/1r_yP8qja3O0zEvQLzIwHM7Ztneg32xOW/view?usp=sharing"
          target="_blank">thesis</LinkButton
        >
        was the design and simulation of an industrial drying process, powered by
        renewable energy. I did extensive simulations in Python, solving large systems
        of partial differential equations to simulate the flow of humidity and energy.
        My knowledge in Python also helped me to visualize the data and results in
        a meaningful way.
      </p>

      <p>
        After my studies I worked as a project manager in the energy sector in
        Germany on large infrastructure projects. I have many great memories of
        great projects and people I worked with. Getting to know applied
        engineering and project management was a great experience. I learned a
        lot about project management, team work and leadership.
      </p>

      <p>
        Nevertheless, I made the decision that this was not the path I wanted to
        continue on.
      </p>
    </section>
    <section class="prose pb-10">
      <h3>Software Engineering</h3>
      <p>
        I started working remotely as a freelancer for the Belgian company <LinkButton
          href="https://odoo.com"
          target="_blank">Odoo</LinkButton
        > in 2022. Check out some other projects I've worked on in the <LinkButton
          href="/projects">projects</LinkButton
        > section.
      </p>
    </section>
    <section class="prose pb-10">
      <h3>Hobbies</h3>
      <p>
        I'm an avid explorer and traveler. 
        We all stand on the shoulder of giants and books enable us to learn from the best. 
        I love to discover new places and
        cultures. Being and moving in nature is what gives me energy and
        inspiration. Check out my <LinkButton
          href={SOCIALS.find(social => social.name === "Strava")
            ?.href as string}
          target="_blank">Strava</LinkButton
        > profile to see some of my activities.
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #main-content {
    @apply pb-10;
  }
</style>
