---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>
        Engineering Consultancy for Transformative Software and Data Solutions
      </h1>

      <p>
        At abilit.ee, we accelerate innovation with hands-on consultancy
        tailored to software, data, and energy systems engineering. We support
        you at every project stage — whether you’re in the ideation phase,
        validating concepts through prototyping, or ready to implement. With
        deep industry expertise and a focus on results, we move your project
        forward efficiently and effectively.
      </p>
      <p>
        With abilit.ee, your goals come first. We see tools and frameworks as
        means to an end, carefully chosen to align with your vision and unique
        requirements.
      </p>
      <p>
        <span class="font-bold">Ready to bring your vision to life?</span>
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="mailto:post@abilit.ee"
          target="_blank"
        >
          Connect with us
        </LinkButton> to explore how abilit.ee can support your project’s success.
      </p>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
