---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { type ProjectProps } from "@components/Project";
import Project from "@components/Project";

// Retrieve all published projects
const resumeResponse = await fetch(
  "https://gist.githubusercontent.com/maschlr/dc54abab3dc20c8e15825787d3f4fc82/raw/resume.json"
);
const resume = await resumeResponse.json();
const projects = resume.work as ProjectProps[];

// List of projects to display
const projectList = projects.filter(project => project.pinned);
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects">
    <div class="space-y-10">
      {projectList.map(project => <Project {...project} />)}
    </div>
  </Main>
  <Footer />
</Layout>
